.form {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border: 3px solid green;
}

.form__label {
  // width: 80%;
}

.form__container {
  margin-bottom: 20px;
}

.form__section {
  border: 1px solid salmon;
  display: flex;
  flex-wrap: wrap;

  &--checkboxes {
  }
}

.form__container {
  width: 50%;
}

.form__legend {
  width: 50%;
}