@import "../global/variables.scss";

.question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-color: aqua;
  margin-bottom: 25px;
  color: white;
  font-family: 'SF-Pro-Display-Bold';

  &--rolled {
    display: flex;
  flex-direction: column;
  justify-content: center;
    min-height: 80px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.question__rolled-text {
  margin-bottom: 5px;
  width: 100%;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50px;
  max-width: 200px;
  min-height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;

  &:not(:nth-of-type(1)) {
    margin-left: 15px;
  }

  &--right {
    background-color: $darkPink;
    color: black;
  }

  &--wrong {
    background-color: white;
  }
}

.card__buttons-container {
  display: flex;
}

.question__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.question__container {
  width: 100%;
  margin-top: 0px;

  &--answer {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid white;
    border-radius: 1px;
  }
}

.question__title-container {
  font-family: 'SF-Pro-Display-Medium'
}

.question__text {
  line-height: 24px;
  font-family: 'SF-Pro-Display-Regular';
  word-spacing: 3px;
  padding-left: 10px;

}

.question__title {
  line-height: 24px;
  font-family: 'SF-Pro-Display-Medium';
}

.question__rollout {
  width: 100%;
  height: 15px;
}

.question__rollout-icon {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url('../../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.question__count {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

@media (max-width: 768px) {
  .question {
    margin-left: 0px;

    &--rolled {
      width: 100%;
    }
  }

  .question__text {
    font-size: 18px;
  }

  .question__list {
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1424px) {
  .question {
    margin-left: 0px;
    width: 100%;

    &--rolled {
      width: 100%;
    }
  }
}