.section__list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section__list {
  width: 100%;
  // max-width: 49%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.section__item {
  width: 48%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &--active {
    width: 100%;
  }
}

.section__item-inner-container {
  &--top {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
  }

  &--bottom {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 25px;
    border-radius: 30px;
    background-color: #fff;
  }
}

.section__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
}

.section__title {
  display: none;

  &--visible {
    display: block;
    font-family: 'SF-Pro-Display-Bold';
    font-size: $extraLargeTitle;
    min-height: 50px;
    margin-bottom: 10px;
    margin-left: 45px;
    cursor: pointer;
  }
}

.section__main {
  min-height: 500px;
  flex-grow: 1;
  margin-bottom: 40px;
  padding: 45px;
  padding-top: 35px;
  border-radius: 30px;
  background-color: #fff;
}

.section__inner-title {
  font-size: $title3;
  font-family: 'SF-Pro-Display-Medium';
}

.section__info {
  width: 100%;
}

@media (max-width: 768px) {
  .section__item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}