.title {
  font-size: 28px;
  font-family: 'SF-Pro-Display-Bold';
  cursor: pointer;
  margin-bottom: 40px;
}

.sub__title {
  font-family: 'SF-Pro-Display-Medium';
}

@media (max-width: 768px) {
  .title {
    font-size: 38px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {}