@import "../global/variables.scss";

.training {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.training__start-btn {
  min-height: 25px;
  padding: 15px;
  background-color: $lightPink;
  border-radius: 10px;
  border: 0;
  line-height: 20px;
  color: white;
  font-family: "SF-Pro-Display-Medium";
  font-size: 24px;
  cursor: pointer;
}

.training__question-amount-btn {
  width: 40px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;

  &--active {
    background-color: rgb(20, 121, 251);
    border: 2px solid rgb(20, 121, 251);
    color: white;
  }

  &:not(:nth-of-type(1)) {
    margin-left: 25px;
  }
}