@font-face {
  font-family: "SF-Pro-Display-Black";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: "SF-Pro-Display-BlackItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-BlackItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  font-weight: bold;
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "SF-Pro-Display-BoldItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-BoldItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Heavy";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family: "SF-Pro-Display-HeavyItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-HeavyItalic.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: "SF-Pro-Display-LightItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-LightItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display-MediumItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-MediumItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display-RegularItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-RegularItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "SF-Pro-Display-SemiboldItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-SemiboldItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Thin";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display-ThinItalic";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-ThinItalic.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Ultralight";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Ultralight.otf");
}